.products-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 50px;
    // flex-direction: row-reverse;
    .button-more{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        .link{
            text-decoration: none;
        }
    }

    .products-header{
        align-items: center;
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: auto;
        // padding: 15px 20px;
        font-size: 14px;
        line-height: 1.4;
        color: #475f7b;
        // background-color: #fff;
        // border: 1px solid #dfe3e7;
        border-radius: 0.267rem;
        h1{
            font-size: 30px;
        }
        input{
            width: 30%;
            // padding-right: 50px;
            
        }
    }
    
    .products{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 50px;

        .product{
            display: flex;
            gap: 5px;
            flex-direction: column;
            background-color: #fff;
            border:none;
            border-radius: 10px;
            width: 280px;
            height: 350px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

            .img{
                position: relative;
                img{
                    width: 280px;
                    max-height: 170px;
                    object-fit: cover;
                }
            }
            .product-name{
                font-size: 15px;
                font-weight: bold;
                width: 75%;

            }
            .new-price{
                margin-bottom: 20px;
                font-size: 13px;
                font-weight: bold;
                color: red;
                
            }
            .old-price{
                font-size: 10px;
                font-weight: bold;
                color: grey;
            }
           
            
            .button{
                border-radius: 20px;
                background-color: rgb(29, 235, 29);
                border: 1px solid rgb(29, 235, 29);;
                &:hover{
                    background-color: white;
                    border: 1px solid rgb(29, 235, 29);;
                }
            }
            
        }
        
    }
}