.products-container{
    display: flex;
    max-width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    
    .products{
        display: flex;
        margin-top: 0px;
        display: flex;
        gap: 50px;

        .product{
            display: flex;
            gap: 5px;
            flex-direction: column;
            background-color: #fff;
            border:none;
            border-radius: 10px;
            width: 280px;
            height: 350px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

            .img{
                position: relative;
                img{
                    width: 280px;
                    max-height: 170px;
                    object-fit: cover;
                }
            }
            .product-name{
                font-size: 15px;
                font-weight: bold;
                width: 75%;

            }
            .new-price{
                margin-bottom: 20px;
                font-size: 13px;
                font-weight: bold;
                color: red;
                
            }
            .old-price{
                font-size: 10px;
                font-weight: bold;
                color: grey;
            }
           
            
            .button{
                border-radius: 20px;
                background-color: rgb(29, 235, 29);
                border: 1px solid rgb(29, 235, 29);;
                &:hover{
                    background-color: white;
                    border: 1px solid rgb(29, 235, 29);;
                }
            }
            
        }
        
    }
}