.table-row{
    padding-top: 30px;
    flex-wrap: wrap;
}
.table-row ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
  }
  
  .table-row ul li {
    align-items: center;
    flex-direction: row;
    list-style: none;
    flex: 0 0 50%;
  }
  li:last-child {
    margin-right: 0px;
  }